{% extends "juegos/base.html" %}

{% block titulo %}{{ juego.titulo }}{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-md-8">
        <h1>{{ juego.titulo }}</h1>
        <p><strong>Desarrolladora:</strong> {{ juego.desarrolladora }}</p>
        <p><strong>Fecha de lanzamiento:</strong> {{ juego.fecha_lanzamiento }}</p>
        <p><strong>Descripción:</strong> {{ juego.descripcion }}</p>
        
        <h2 class="mt-4">Nominado en las siguientes categorías:</h2>
        <ul class="list-group">
            {% for nominacion in nominaciones %}
                <li class="list-group-item">{{ nominacion.categoria.nombre }}</li>
            {% endfor %}
        </ul>
        <a href="javascript:history.back()" class="btn btn-primary mt-4">Volver</a>
    </div>
    {% if juego.imagen %}
    <div class="col-md-4">
        <img src="{{ juego.imagen }}" class="img-fluid rounded shadow" alt="{{ juego.titulo }}">
    </div>
    {% endif %}
</div>
{% endblock %}